p {
	color: navy;
}


p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	background-color:white;
	color: white;
    padding: 1em;
    font-size: 2em;
    text-shadow: 1px 1px 2px pink;
	text-shadow:  1px 0 10px navy;
	
}

h2 {
	border: solid 1px black;
	margin: 5px;
	font-family: cursive;
    color: #3f3faf;
    background: linear-gradient(to right, white, #ffefaf);
    padding: 0.3em;
    border-radius: 4px;
    margin: 0.5em 0;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	width: 1024px;
	float:right;
	
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}
#zentai img {
    float: right;
    width: 48px;
    height: 48px;
    margin: 0 0 0.5em 0.5em;
}
body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
    margin: 2em;
}
